@import "../../styles/variables";
@import "../../styles/global";
@import "../../styles/functions";

.sub-title {
  font-size: $fontSizeMedium;
  font-weight: $regular;
}
.main {
  flex: 5;

  .title {
    font-size: $fontSizeMedium;
    font-weight: $bold;
  }
}
