@import "./../../styles/variables";
@import "./../../styles/functions";

.bg-white {
  background-color: $white;
}

.activeKey {
  color: $orange !important;
}

.cart-indicator {
  position: absolute;
  background-color: $orange;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fontSizeExtraExtraSmall;
  width: calcRem(20px);
  transform: translate(calcRem(17px), calcRem(-5px));
  height: calcRem(20px);
  text-align: center;
  border-radius: 50%;
}

.navbarFlex {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.nav-container {
  padding-right: calcRem(80px) !important;
  padding-left: calcRem(80px) !important;
  @include media-breakpoint-down(lg) {
    padding-right: calcRem(25px) !important;
    padding-left: calcRem(25px) !important;
  }
  @include media-breakpoint-down(sm) {
    padding-right: calcRem(20px) !important;
    padding-left: calcRem(20px) !important;
  }
}

.nav-link {
  font-size: calcRem(16px);
  margin-right: calcRem(6px);
  @include media-breakpoint-down(md) {
    margin-right: calcRem(0px);
  }
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  color: $orange !important;
}

